@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-height: 100%;
}

input,
textarea {
  @apply border-2 border-teal-400 rounded-md px-1 w-full;
  @apply mb-2;
}

input:focus,
textarea:focus {
  @apply border-2 border-teal-700 outline-none;
}

h1 {
  @apply text-stone-800 text-xl font-bold mb-2;
}

label {
  @apply text-stone-800;
}

.btn-primary,
.btn-danger {
  @apply py-1 px-4 rounded-md shadow-xl;
}

.btn-primary {
  @apply bg-gradient-to-r from-cyan-500 to-teal-500 active:bg-teal-800;
}

.btn-danger {
  @apply bg-gradient-to-r from-red-500 to-amber-500 active:bg-teal-800;
}

table.basic {
  @apply w-full shadow-xl;
}

table.basic thead tr td {
  @apply bg-teal-400;
}

table.basic tr td {
  @apply border border-teal-400 p-1;
}

table.basic a {
  @apply text-sm py-1 px-2 rounded-md inline-flex gap-1 items-center mr-1;
}
